In [18]:
from scipy import stats as st
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [19]:
cars = pd.read_csv('../vehicles_us.csv')

In [20]:
cars.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [21]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [22]:
cars.duplicated().count()

51525

In [23]:
cars = cars.drop_duplicates()

In [24]:
cars.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
51520    False
51521    False
51522    False
51523    False
51524    False
Length: 51525, dtype: bool

## To Do
- fix 4wd to boolean
- make the dateTime
- clean code

## EDA Ideas

- Car color vs days listed
- price vs days listed
- odometer vs price

cars

In [25]:
cars

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,NaN,2018-10-03,37
51521,2700,2002.0,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,NaN,2018-11-14,22
51522,3950,2009.0,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,NaN,2018-11-15,32
51523,7455,2013.0,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,NaN,2018-07-02,71
51524,6300,2014.0,nissan altima,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-06-05,10

In [38]:
color = cars.groupby(['paint_color']).median().drop(['model_year','cylinders','is_4wd'], axis='columns')
color.reset_index()

   paint_color    price  odometer  days_listed
0        black  10995.0  102255.0         34.0
1         blue   7500.0  120000.0         34.0
2        brown   7277.0  129444.5         35.0
3       custom   7995.0  117026.0         32.0
4        green   5900.0  134000.0         34.5
5         grey   8500.0  109448.0         33.0
6       orange  15700.0   90000.0         33.0
7       purple   4997.0  141500.0         34.0
8          red   8701.0  113820.0         33.0
9       silver   7999.0  117376.0         33.0
10       white  11500.0  113000.0         33.0
11      yellow  17490.0  110000.0         35.0

In [30]:
cars['model'].value_counts()

ford f-150                           2796
chevrolet silverado 1500             2171
ram 1500                             1750
chevrolet silverado                  1271
jeep wrangler                        1119
                                     ...
ford f-250 super duty                 241
acura tl                              236
kia sorento                           236
nissan murano                         235
mercedes-benz benze sprinter 2500      41
Name: model, Length: 100, dtype: int64

In [34]:
cars.groupby('model').median().sort_values(by='price', ascending= False)

,price,model_year,cylinders,odometer,is_4wd,days_listed
model,,,,,,
mercedes-benz benze sprinter 2500,34900.0,2013.0,6.0,NaN,NaN,34.0
chevrolet silverado 1500 crew,29700.0,2016.0,8.0,39992.0,1.0,33.0
ford mustang gt coupe 2d,26000.0,2016.0,8.0,31100.0,NaN,31.0
ford f150 supercrew cab xlt,25900.0,2015.0,6.0,51676.5,1.0,35.0
jeep wrangler unlimited,22995.0,2013.0,6.0,79485.0,1.0,32.5
...,...,...,...,...,...,...
chevrolet impala,4700.0,2010.0,6.0,120946.0,NaN,33.0
dodge dakota,4675.0,2004.0,6.0,148346.0,1.0,34.0
ford ranger,4500.0,2004.0,6.0,141500.0,1.0,33.0
chevrolet trailblazer,3950.0,2005.0,6.0,156000.0,1.0,32.0
ford taurus,3000.0,2007.0,6.0,128752.0,1.0,36.0

In [36]:
cars['manufacturer'] = cars['model'].apply(lambda x: x.split()[0])

In [39]:
cars.groupby('manufacturer').median().sort_values(by='price', ascending= False).drop({'model_year','cylinders','is_4wd','days_listed','odometer'}, axis='columns').reset_index()

     manufacturer    price
0   mercedes-benz  34900.0
1             ram  16998.0
2        cadillac  13995.0
3             gmc  13232.0
4       chevrolet  11799.0
5            jeep  11300.0
6           buick   9995.0
7            ford   9987.5
8             bmw   9775.0
9             kia   7995.0
10         toyota   7795.0
11       chrysler   7500.0
12         nissan   7225.0
13         subaru   7000.0
14          dodge   6950.0
15     volkswagen   6795.0
16        hyundai   6250.0
17          honda   5995.0
18          acura   5900.0